<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link href="https://fonts.googleapis.com/css2?family=Monofett&display=swap" rel="stylesheet">
    </head>

    <body>

        <header>
            <div class="logo">
                Evaluate news
            </div>
        </header>

        <main>
            <section>
                <form id="sentiment__form" onsubmit="return Client.handleSubmit(event)">
                    <input id="sentiment__URL" type="text" name="customURL" value="" placeholder="Enter URL" required>
                    <input id="sentiment__submit" type="submit" name="" value="submit">
                </form>
            <section>

            <section>
                <strong class="logo">Form Results:</strong>
                <div class="form_results">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <h2 id="results__heading"></h2>
                    <div id="results"></div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/sw.js');
                });
            }
        </script>

    </body>
</html>
